<div class="mdc-dialog help-dialog">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface" id="help-dialog-surface" role="alertdialog" aria-modal="true"
      aria-labelledby="my-dialog-title" aria-describedby="my-dialog-content">
      <h2 class="mdc-dialog__title">About the Help Button</h2>
      <div class="mdc-dialog__content" id="my-dialog-content">
        <div class="help-paragraph">
            If you are unsure about how to use any of the pages on this site, click the <i>Help</i> button for
            more information about the page, detailed instructions on entering information, and video tutorials.
        </div>
      </div>
      <div class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Close</span>
        </button>
      </div>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>