{% load static %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/material.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{#    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">#}
{% endblock styles %}

<nav class="navbar navbar-expand-md navbar-expand-lg navbar-default">
  <a class="navbar-brand" href="/"><img src="{% static 'admin/img/ClinTAD_icon.svg' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNav">
      <ul class="navbar-nav mr-auto">
      <li class="{% if navbar == 'home' %}active{% endif %} nav-link"><a href="/">Home</a></li>
      <li class="{% if navbar == 'single' %}active{% endif %} nav-link"><a href="/single/">Single</a></li>
      <li class="{% if navbar == 'multiple' %}active{% endif %} nav-link"><a href="/multiple/">Multiple</a></li>
      <li class="{% if navbar == 'about' %}active{% endif %} nav-link"><a href="/about/">About</a></li>
      <li class="{% if navbar == 'contact' %}active{% endif %} nav-link"><a href="/contact/">Contact</a></li>
      </ul>
  </div>
 {% if user.is_authenticated %}
  <div class='navbar-collapse collapse w-100 order-3 dual-collapse2'>
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.get_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class='dropdown-item' href="/user/tracks/">Tracks</a>
                        <a class='dropdown-item' href="/user/logout/">Log Out</a>
                </div>
         </li>
      </ul>
   </div>
  {% else %}
  <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/user/login/">Login<span class="caret"></span></a></li>
      </ul>
  </div>
  {% endif %}


  </div>
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}{% endblock content %}


{% block scripts %}
    <script src="{%  static 'js/material.js' %}"></script>
    <script src="{%  static 'dist/base.js' %}"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock scripts %}
</body>