{% extends 'base.html' %}

{% block content %}

<head>
    <title>ClinTAD | Data</title>
</head>

<body>
<h1>Patient 1</h1>
<img src="https://lh3.googleusercontent.com/gdQ3Gz0EN_F2kivWpCUsN3u_TeC0IqssO4CVRdNuhuahxt4cHO-HX65yjhE-H3QRkDVCzi7dqyTHs1BJq2XuHsz81iExb4LA2Nkm1RZ45NAkAksoMfNdG9-SHDwMyuzg8DPj9R-dtyQoJlgiAH_PoFeRI5UcCoBK05x8e8jGYt8aSUFCvdRr5HpP1oz0s8PIh7-qj4WUCsfi1KVtcMR5ZNgl9wjwb00tEaLQDr5zjoC2XAAYl1Ie452lSiyTvpmi5c6gm7NlcCJh4j4H1CxxyN-JZlkqEcJWoBU1DW0v5fnd80mqIZWTg9O55dLBAZkEDvr7JQ1_LeVaUZ4VDWxs2OYbtjVlh3ZT7go9FvKk3q9goJG7qz0pFwcb21ZbtLvTWHGWgCa_lBeBWA67u4YdypRaagOlQoDCEAW7bSNA3mrWzyOiOSgU0qTE-EspgyKqYUwIzum2Zh_ssiW04ekpCHDjKJDtn8_PzY_aq-Ach-kItr-C_5UkwndOicPK-PoB3wfHn_FmPvV1drrEm8JlY0BcyTTXo9RU7LOd0p7uCCsrWQBwZ4iuAtv1C51hHpoHPcl9kg2XUxdLYjosQDEytqWcX0BfYvDAdNM4k7M=w1080-h239-no"></img>
<img src="https://lh3.googleusercontent.com/vXF48y7EhXEHIr0he53cs9QGaMnVSPWAY5M1W7HymG5dokTV45D5NR5oXPySjs-2xuiK7vW9D3Tl1TxIFzkPFPhoBvqmoHSHHFx41-vo8ndqu_EIEIL2yo-2Yc5-elCpvw2YNNVecK9Gx7R4V7yOm_jRAcJuywjnXzJ3G8AObh6n9gwt1u_mvLIRNfdXHLkybSTyjfsSilPoO6lEM3n7ClUNN3zJ2JwDUPJ1fSjc-R3srDyU0Tp7jSL4zc9bppxEspE3rF40PUWftSLWETwwKWOpaWb6Ck4UxuZOUHNJhKI7gTaYYJB0d2aDaeWMEIkARhHoHlMXiJIKnpbOVu2867cokn1ahRSZhdG8k7G1daXACBulrRstiYmb-5GWXpoy2R8wgJdohb1G2KFfebd2DJuOOFWu3Kk2-nO3gpMAWPpeLGZq35Ac7APNreiy9YnbVbOb75KwhYinUpF1rELsn2dfcAn8wO48gQVGfhel7SNmOkU_9TNZswgx2ftudCuaykTMtbRfl-N1F0ZNX38cP-Sx4fq4VJ4Z57gl1n1Ltp8sNnw31dYz1-KsYuxQt6mzZdxIfeT5g5s1bHcRNxGDdj7Zkp1D2eOj3LjTlS8=w1030-h328-no"></img>
<br>

<h1>Patient 2</h1>
<img src="https://lh3.googleusercontent.com/mz2b4oHy8-qpoDDr1RFV1DY_Q98dqog4YY3ZjtKAAxxyxo5fL7Yc017tFymw04Ev1MLZpqRySddwG4qSsBR38oPxi_gWztcoRWC8SvDvn3si46dM46ax-pnCX_iDd_TOURPCvfMmvdUgNfz9Phc7_d0wlyNP-CItrNgD86E1jeE820cjGJYyD_MYgfLxfkZkI0HEj7MM3wLxDs_trXO5WDmg9FKP05FkuuSzkPkx7-n5KxT82F5CiZ0pZzLiJNjnz-leTYrCKLjfPvYBvGyzac7i2pUlAn3Yema-72YZY9DYuTXNwd8tC9zp7z6cYdY-Rtz0uCcmvAJsHyzDkmwx_1_bNnhZFa7L1r83NX9XYK6Xd93CB4lYEKNPYT0y_ZCrE7YR-Y8cN3cLQGJWBZgCOcptnO3HDEJsjA3jZ8odAmi-hO7tRNZQ3147fvHxs_S3K9BcjiO6CsIVOK_kGwLk_ik_DzTrbMGvmEAnvsSbYRP6tvyDPZq3kkgM5nbkeYJttyOuLMwl_LjRkQEYqdxFpZixZT_Xhl301X9xDr7AfAAc7BJ7d776IY2sWwK4cnPrYF5Muov-qRBtKmu9fEyyxqVKYb73lKI1RX5Tkro=w1080-h239-no"></img>
<img src="https://lh3.googleusercontent.com/zpuhvckV5cGKBDom2YG__DuKIz0z93UlDH9yLKwYT-OFK7huG7BCsq73_PnTi-RlRmVUdcawMhYHuGrD1m9AQVj5xloInm2fM9IpvSvgIwK85CB8dWoYtwx_d4_lEe7Kba6M3QAgUtzSiAXc7Xu1stj9ITBSgqgiyoU4TSXhund8ZiTHGLsHM_Fa2N2Y_LYt7X2HDAwikDRGYwvEXrEyCWOKbw4hOuZFEDqM1edySLCH2v0BEprKGtL7fl_3SgmLOo9-L59U8QwHbESl2ARwuK919WIM20fRReUHY3DLU0ZnYB5EV1jEaIsOdQXWMVjAdQ_fF-_bpZNvHw_DN_BSnocB34XYBtekOTQwi8rwSNZyguofEylPB_k_EUSkNEWymNRTM8zZHeFvgFHsY4I2lnblhlpZXPZGfpeyas0l-8T_Dx9mPaY7sDNQpjvjTp1YffJTB1P_zzG0yMH3NiYZJgJFrkGO-GbkgGyAYm9JVbr2qzusHu2HmgFlnAwm0Gjo89ItS3OK3U_EMTVMUQIvNifI9dFcnUAOo0J2z99bnmfEQYgSWJJgF3vW_64O5yUxbceLY_4odoOFwudSzNC5GezaVM2xdztXpKwGqyA=w1136-h335-no"></img>
</body>
{% endblock content %}

