{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <title>ClinTAD | Multiple</title>
{% endblock head %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/multiple.css' %}">
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/multiple.js' %}" type="module"></script>
{% endblock scripts %}


{% block content %}
<div id="input-cards-div">
    <div id="multiple-input-card" class="mdc-card">
        <div class="card-heading">
            <div id="case-toggle-div">
                <span id="multiple_cases_text">Multiple Cases</span>
                <svg id="toggle_svg" height="1em" viewBox="26.333 3 220.333 55" enable-background="new 26.333 3 220.333 55">
                    <rect id="toggle_rect" x="70.98" y="22.929" fill="var(--mdc-theme-primary-300)" width="132.02" height="15.297"/>
                    <g id="toggle_triangle">
                        <polygon fill="#FF0000" points="41.648,30.578 35.635,34.416 29.622,30.578 35.635,26.739 	"/>
                        <polygon fill="#F4ADAE" points="47.661,26.739 41.648,30.578 35.635,26.739 41.648,22.902 	"/>
                        <polygon fill="#F4292B" points="47.661,34.416 41.648,38.251 35.635,34.416 41.648,30.578 	"/>
                        <polygon fill="#F58283" points="53.674,30.578 47.661,34.416 41.648,30.578 47.661,26.739 	"/>
                        <polygon fill="#F4ADAE" points="53.674,22.902 47.661,26.739 41.648,22.902 47.661,19.063 	"/>
                        <polygon fill="#FF0000" points="53.674,38.251 47.661,42.091 41.648,38.251 47.661,34.416 	"/>
                        <polygon fill="#F6969C" points="59.687,34.416 53.674,38.251 47.661,34.416 53.674,30.578 	"/>
                        <polygon fill="#F64849" points="59.687,26.739 53.674,30.578 47.661,26.739 53.674,22.902 	"/>
                        <polygon fill="#F64849" points="59.687,42.091 53.674,45.927 47.661,42.091 53.674,38.251 	"/>
                        <polygon fill="#F64849" points="59.687,19.063 53.674,22.902 47.661,19.063 53.674,15.228 	"/>
                        <polygon fill="#F6969C" points="65.7,38.251 59.687,42.091 53.674,38.251 59.687,34.416 	"/>
                        <polygon fill="#F6969C" points="65.7,30.578 59.687,34.416 53.674,30.578 59.687,26.739 	"/>
                        <polygon fill="#FF0000" points="65.7,45.927 59.687,49.765 53.674,45.927 59.687,42.091 	"/>
                        <polygon fill="#F6969C" points="65.7,22.902 59.687,26.739 53.674,22.902 59.687,19.063 	"/>
                        <polygon fill="#FF0000" points="65.7,15.228 59.687,19.063 53.674,15.228 59.687,11.39 	"/>
                        <polygon fill="#FF0000" points="71.713,42.091 65.7,45.927 59.687,42.091 65.7,38.251 	"/>
                        <polygon fill="#F6969C" points="71.713,34.416 65.7,38.251 59.687,34.416 65.7,30.578 	"/>
                        <polygon fill="#F62F31" points="71.713,49.765 65.7,53.603 59.687,49.765 65.7,45.927 	"/>
                        <polygon fill="#F6969C" points="71.713,26.739 65.7,30.578 59.687,26.739 65.7,22.902 	"/>
                        <polygon fill="#F73436" points="71.713,19.063 65.7,22.902 59.687,19.063 65.7,15.228 	"/>
                        <polygon fill="#F73436" points="71.713,11.39 65.7,15.228 59.687,11.39 65.7,7.552 	"/>
                        <polygon fill="#FF0000" points="71.713,45.927 71.713,49.765 65.7,45.927 71.713,42.091 	"/>
                        <polygon fill="#F62F31" points="71.713,38.251 71.713,42.091 65.7,38.251 71.713,34.416 	"/>
                        <polygon fill="#FF0000" points="71.713,53.603 71.713,57.441 65.7,53.603 71.713,49.765 	"/>
                        <polygon fill="#F28188" points="71.713,30.578 71.713,34.416 65.7,30.578 71.713,26.739 	"/>
                        <polygon fill="#FF0000" points="71.713,22.902 71.713,26.739 65.7,22.902 71.713,19.063 	"/>
                        <polygon fill="#FF0000" points="71.713,15.228 71.713,19.063 65.7,15.228 71.713,11.39 	"/>
                        <polygon fill="#F73436" points="71.713,7.552 71.713,11.39 65.7,7.552 71.713,3.714 	"/>
                    </g>
                </svg>
                <span id="multiple_regions_text">Mutiple Regions</span>
            </div>
        </div>
        <div id="inputs-div">
            <div id="case-div">
                <label class="mdc-text-field mdc-text-field--outlined" id="case-field">
                  <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label" id="case-label">Case Identifier</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                  </span>
                    <input id="case-input" type="text" class="mdc-text-field__input" aria-labelledby="coordinates-label"
                           aria-controls="coordinates-helper" aria-describedby="coordinates-helper" autocomplete="off">
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-helper-text" id="case-helper" aria-hidden="true">
                        Enter an identifier for the case
                    </div>
                </div>
            </div>
            
            <div id="coordinates-div">
                <label class="mdc-text-field mdc-text-field--outlined" id="coordinates-field">
                  <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label" id="coordinates-label">Coordinates</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                  </span>
                    <input id="coordinates-input" type="text" class="mdc-text-field__input" aria-labelledby="coordinates-label"
                           aria-controls="coordinates-helper" aria-describedby="coordinates-helper" autocomplete="off">
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-helper-text" id="coordinates-helper" aria-hidden="true">
                        e.g. <i>chr5:1000000-2000000</i>
                    </div>
                </div>
            </div>

            <div id="phenotypes-div">
                <label id="phenotypes-field" class="mdc-text-field mdc-text-field--outlined">
                  <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label" id="phenotypes-label">Phenotypes</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                  </span>
                    <input id="phenotypes-input" type="text" class="mdc-text-field__input" aria-labelledby="phenotypes-label" aria-controls="coordinates-helper"
                           aria-describedby="phenotypes-helper" autocomplete="off">
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-helper-text" id="phenotypes-helper" aria-hidden="true">
                        e.g. <i>HP:0410034, 717</i>
                    </div>
                </div>
            </div>
            <button id="add-case-button" class="mdc-button mdc-button--touch mdc-button--raised">
                <div class="mdc-button__ripple"></div>
                <div class="mdc-button__label">Add</div>
                <div class="mdc-button__touch"></div>
            </button>
        </div>
        
        <div id="text-area-div">
            <div id="data-div">
                <label id="data-field" class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea">
                      <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                          <span class="mdc-floating-label" id="data-label">Case / Region Data</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                      </span>
                    <textarea id="data-input" class="mdc-text-field__input" aria-labelledby="data-label" aria-controls="data-helper"
                              aria-describedby="data-helper" placeholder="Separate data by tabs and cases by returns, e.g. &#10;Case 1  chr1:80000-90000  HP:0410034, 717&#10;Case 2  chr2:70000-90000  1863, 717"></textarea>
                </label>
            </div>
            <button id="submit-data-button" class="mdc-button mdc-button--touch mdc-button--raised">
                <div class="mdc-button__ripple"></div>
                <div class="mdc-button__label">Submit</div>
                <div class="mdc-button__touch"></div>
            </button>
        </div>
    </div>
    
    <div id="hpo-card" class="mdc-card">
        <div class="card-heading">HPO Phenotype Lookup</div>
        {% include 'hpo_lookup_input.html' %}
    </div>
</div>

<div id="results-card" class="mdc-card">
    <div class="card-top-div">
        <div class="card-title">Results</div>
        <div class="card-buttons">
            <button id="autosomal-dominant-button" class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">Autosomal Dominant</span>
            </button>
            <button id="autosomal-recessive-button" class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">Autosomal Recessive</span>
            </button>
            <button id="x-linked-dominant-button" class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">X-linked Dominant</span>
            </button>
            <button id="x-linked-recessive-button" class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">X-linked Recessive</span>
            </button>
        </div>
        <div class="card-top-right">
            <button id="save-as-text-button" class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">save_alt</i>
                <span class="mdc-button__label">Download</span>
            </button>
        </div>
    </div>
</div>
 
<script type="text/javascript">
    var multipleInput = document.getElementById("data-input");
    if(multipleInput.addEventListener ) {
        multipleInput.addEventListener('keydown',this.keyHandler, false);
    } else if(multipleInput.attachEvent ) {
        multipleInput.attachEvent('onkeydown', this.keyHandler);
    }

    function keyHandler(e) {
        var TABKEY = 9;
        if(e.keyCode == TABKEY) {
            e.preventDefault();
            this.value += "\t";
            return false;
        }
    }
</script>
{% endblock content %}

