{% extends "base.html" %}

{% load static %}{% load widget_tweaks %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
<head>
    <title>ClinTAD | Change Password</title>
</head>

{% if validlink %}

<div id="login-card" class="mdc-card card-w-title">
    <div class="card-top-div title-large">
        <div class="card-title">Change Password</div>
    </div>
    <div class="form card-text">
        <div class="password-requirements">
            <div class="mdc-typography--headline6">Password Requirements</div>
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
            {% if form.errors %}
                <div class="mdc-typography--headline6 error">Errors</div>
                <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li class="error">{{ error|escape }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <form method="post">
            {% csrf_token %}
            <label class="mdc-text-field mdc-text-field--outlined">
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="name-label">Password</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
                <input id="id_new_password1" name="new_password1" type="password" class="mdc-text-field__input" required>
            </label>

            <label class="mdc-text-field mdc-text-field--outlined">
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="name-label">Confirm Password</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
                <input id="id_new_password2" name="new_password2" type="password" class="mdc-text-field__input" required>
            </label>

            <button id="submit-button" type="submit" class="mdc-button mdc-button--touch mdc-button--raised">Submit</button>
        </form>

        Already have an account? <a href="/user/login/">Login</a><br><br>
        Forgot your password? <a href="/user/password_reset/">Reset Password</a>
    </div>
</div>

{% else %}
    <div id="login-card" class="mdc-card">
        <div id="logo-div" class="mb-4" style="display: flex; justify-content: center; padding: 16px;">
            <img src="{% static 'admin/img/ClinTAD_icon.svg' %}">
        </div>
        <div id="welcome-text-div" style="font-size: 18px; font-weight: 450;">
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
        </div>
    </div>
{% endif %}

</div>
{% endblock %}