{% extends "base.html" %}

{% load static %}{% load widget_tweaks %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
<head>
    <title>ClinTAD | Reset Email Sent</title>
</head>

<div class="outlined" style="width: 100%; font-size: 1.2em;">

<p style="margin-top: 3em;">
    We've emailed you instructions for resetting your password.
</p>
<p style="margin-top: 2em; margin-bottom: 3em;">
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
</p>
</div>
{% endblock %}