{% extends "base.html" %}

{% load static %}{% load widget_tweaks %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
<head>
    <title>ClinTAD | Reset Email Sent</title>
</head>

<div id="login-card" class="mdc-card card-w-title">
    <div class="card-top-div title-large">
        <div class="card-title">Password Reset Email Sent</div>
    </div>
    <div class="card-text">
        We've emailed you instructions for resetting your password.<br><br>
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
    </div>
</div>
{% endblock content %}
