{% extends "base.html" %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock styles %}

{% block content %}
<div id="login-card" class="mdc-card">
    <div id="logo-div" class="mb-4">
        <img src="{% static 'admin/img/ClinTAD_icon.svg' %}">
    </div>
    <div id="welcome-text-div">
        An email has been sent to you with an an activation link. Please click on the link to confirm your email
        and activate your account.
    </div>
</div>
{% endblock content %}
