{% extends 'base.html' %}
{% load static %}{% load widget_tweaks %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
<head>
    <title>ClinTAD | Register</title>
</head>

<div id="login-card" class="mdc-card card-w-title">
    <div class="card-top-div title-large">
        <div class="card-title">Register</div>
    </div>
    <div class="form card-text">
        <form method="post">
            {% csrf_token %}
            <label class="mdc-text-field mdc-text-field--outlined">
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="name-label">Email</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
                <input id="id_email" name="email" type="text" class="mdc-text-field__input" required>
            </label>

            <label class="mdc-text-field mdc-text-field--outlined">
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="name-label">Name</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
                <input id="id_name" name="name" type="text" class="mdc-text-field__input" required>
            </label>

            <label class="mdc-text-field mdc-text-field--outlined">
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="name-label">Password</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
                <input id="id_password1" name="password1" type="password" class="mdc-text-field__input" required>
            </label>

            <label class="mdc-text-field mdc-text-field--outlined">
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="name-label">Confirm Password</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
                <input id="id_password2" name="password2" type="password" class="mdc-text-field__input" required>
            </label>

            <button id="submit-button" type="submit" class="mdc-button mdc-button--touch mdc-button--raised">Submit</button>
        </form>

        Already have an account? <a href="/user/login/">Login</a><br><br>
        Forgot your password? <a href="/user/password_reset/">Reset Password</a>
    </div>
</div>

{% endblock %}