{% extends 'base.html' %}
{% load static %} {% load widget_tweaks %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/tracks.js' %}" type="module"></script>
    <script src="{% static 'dist/tracks.js' %}" type="module"></script>
{% endblock %}


{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/tracks.css' %}">
{% endblock styles %}


{% block content %}
<head>
    <title>ClinTAD | Tracks</title>
</head>

<script>
    var tracks = {{tracks|safe}};
</script>

<div class="mdc-card card-w-title">
    <div class="card-top-div">
        <div class="card-title">Create New Track</div>
    </div>
    <div id="inputs-div">
        <div class="mdc-select mdc-select--outlined mdc-select--filled" id="build-select">
            <div class="mdc-select__anchor"
                 role="button"
                 aria-labelledby="outlined-select-label"
                 aria-haspopup="listbox"
            >
                <input type="text" name="build" readonly class="mdc-select__selected-text" id="build-select-input">
                <i class="mdc-select__dropdown-icon"></i>
                <span class="mdc-notched-outline">
              <span class="mdc-notched-outline__leading"></span>
              <span class="mdc-notched-outline__notch">
                <span id="outlined-select-label" class="mdc-floating-label mdc-floating-label--float-above">Build</span>
              </span>
              <span class="mdc-notched-outline__trailing"></span>
          </span>
            </div>

            <div class="mdc-select__menu mdc-menu mdc-menu-surface" >
                <ul class="mdc-list" id="add-hpo-ul" role="listbox">
                    <li class="mdc-list-item" role="option" data-value="hg18 / 36.1" tab-index="-1">
                        <span class="mdc-list-item__text">hg18 / 36.1</span>
                    </li>
                    <li class="mdc-list-item" role="option" data-value="hg19 / GRCh37" tab-index="0" aria-selected="true">
                        <span class="mdc-list-item__text">hg19 / GRCh37</span>
                    </li>
                    <li class="mdc-list-item" role="option" data-value="hg38 / GRCh38" tab-index="-1">
                        <span class="mdc-list-item__text">hg38 / GRCh38</span>
                    </li>
                </ul>
            </div>
        </div>
        <label id="track-name-field" class="mdc-text-field mdc-text-field--outlined">
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="name-label">Track Name / Label</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
            <input id="track-name-input" name="label" type="text" class="mdc-text-field__input">
        </label>


        <div class="mdc-select mdc-select--outlined mdc-select--filled" id="track-type-select">
            <div class="mdc-select__anchor"
                 role="button"
                 aria-labelledby="outlined-select-label"
                 aria-haspopup="listbox"
            >
                <input type="text" readonly name="track_type" class="mdc-select__selected-text" id="track-type-select-input">
                <i class="mdc-select__dropdown-icon"></i>
                <span class="mdc-notched-outline">
              <span class="mdc-notched-outline__leading"></span>
              <span class="mdc-notched-outline__notch">
                <span id="track-type-label" class="mdc-floating-label mdc-floating-label--float-above">Track Type</span>
              </span>
              <span class="mdc-notched-outline__trailing"></span>
          </span>
            </div>

            <div class="mdc-select__menu mdc-menu mdc-menu-surface" >
                <ul class="mdc-list" role="listbox">
                    <li class="mdc-list-item" role="option" data-value="CNV" tab-index="-1">
                        <span class="mdc-list-item__text">CNV</span>
                    </li>
                    <li class="mdc-list-item" role="option" data-value="Enhancer" tab-index="0" aria-selected="true">
                        <span class="mdc-list-item__text">Enhancer</span>
                    </li>
                    <li class="mdc-list-item" role="option" data-value="TAD" tab-index="-1">
                        <span class="mdc-list-item__text">TAD</span>
                    </li>
                </ul>
            </div>
        </div>

        <label id="details-field" class="mdc-text-field mdc-text-field--outlined">
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="details-label">Details / Comments</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
            <input id="details-input" name="details" type="text" class="mdc-text-field__input">
        </label>
        
        <div id="file-upload-div">
            <div id="upload-button">
                <i class="material-icons mdc-button__icon" aria-hidden="true">attach_file</i>
            </div>
            <div id="uploaded-file-name">Click to upload file</div>
            {{ form.uploaded_file }}
        </div>

        <button type="button" id="submit-track-button" class="mdc-button mdc-button--touch mdc-button--raised">
            <div class="mdc-button__ripple"></div>
            <div class="mdc-button__label">Submit</div>
            <div class="mdc-button__touch"></div>
        </button>
    </div>
</div>


<div class="mdc-card card-w-title">
    <div class="card-top-div">
        <div class="card-title">TAD Tracks</div>
    </div>
    <div class="card-text">

    <div class="mdc-data-table">
      <table class="mdc-data-table__table">
        <thead>
          <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell use-track-cell">Use Track</th>
            <th class="mdc-data-table__header-cell label-cell">Label</th>
            <th class="mdc-data-table__header-cell build-cell">Build</th>
            <th class="mdc-data-table__header-cell description-cell">Description</th>
          </tr>

        </thead>
            <tbody class="mdc-data-table__content">
              <tr class="mdc-data-table__row">
                  <td class="mdc-data-table__cell ">
                      <input type="checkbox" id="tad-toggle">
                  </td>
                  <td class="mdc-data-table__cell ">Default TADs</td>
                  <td class="mdc-data-table__cell ">hg19 / GRCh37</td>
                  <td class="mdc-data-table__cell description-cell">The default TAD boundary set was provided by Dr. Jesse Dixon (University of California,
                    San Diego). The data was generated using H1 human embryonic stem cells (hESCs),
                    chromosome build GRCh37, a bin size of 40kb, and a window size of 2Mb. Please see the About section
                    for reference and details.
                  </td>
              </tr>
            </tbody>
      </table>




    </div>
    </div>
</div>

<div class="mdc-data-table">
  <div class="mdc-data-table__table-container">
    <table class="mdc-data-table__table" aria-label="Dessert calories">
      <thead>
        <tr class="mdc-data-table__header-row">
          <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Dessert</th>
          <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Carbs (g)</th>
          <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Protein (g)</th>
          <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Comments</th>
        </tr>
      </thead>
      <tbody class="mdc-data-table__content">
        <tr class="mdc-data-table__row">
          <th class="mdc-data-table__cell" scope="row">Frozen yogurt</th>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">24</td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">4.0</td>
          <td class="mdc-data-table__cell">Super tasty</td>
        </tr>
        <tr class="mdc-data-table__row">
          <th class="mdc-data-table__cell" scope="row">Ice cream sandwich</th>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">37</td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">4.33333333333</td>
          <td class="mdc-data-table__cell">I like ice cream more</td>
        </tr>
        <tr class="mdc-data-table__row">
          <th class="mdc-data-table__cell" scope="row">Eclair</th>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">24</td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">6.0</td>
          <td class="mdc-data-table__cell">New filing flavor</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mdc-data-table__pagination">
    <div class="mdc-data-table__pagination-trailing">
      <div class="mdc-data-table__pagination-rows-per-page">
        <div class="mdc-data-table__pagination-rows-per-page-label">
          Rows per page
        </div>

        <div class="mdc-select mdc-select--outlined mdc-select--no-label mdc-data-table__pagination-rows-per-page-select">
          <div class="mdc-select__anchor" role="button" aria-haspopup="listbox"
                aria-labelledby="demo-pagination-select" tabindex="0">
            <span class="mdc-select__selected-text-container">
              <span id="demo-pagination-select" class="mdc-select__selected-text">10</span>
            </span>
            <span class="mdc-select__dropdown-icon">
              <svg
                  class="mdc-select__dropdown-icon-graphic"
                  viewBox="7 10 10 5">
                <polygon
                    class="mdc-select__dropdown-icon-inactive"
                    stroke="none"
                    fill-rule="evenodd"
                    points="7 10 12 15 17 10">
                </polygon>
                <polygon
                    class="mdc-select__dropdown-icon-active"
                    stroke="none"
                    fill-rule="evenodd"
                    points="7 15 12 10 17 15">
                </polygon>
              </svg>
            </span>
            <span class="mdc-notched-outline mdc-notched-outline--notched">
              <span class="mdc-notched-outline__leading"></span>
              <span class="mdc-notched-outline__trailing"></span>
            </span>
          </div>

          <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth" role="listbox">
            <ul class="mdc-list">
              <li class="mdc-list-item mdc-list-item--selected" aria-selected="true" role="option" data-value="10">
                <span class="mdc-list-item__text">10</span>
              </li>
              <li class="mdc-list-item" role="option" data-value="25">
                <span class="mdc-list-item__text">25</span>
              </li>
              <li class="mdc-list-item" role="option" data-value="100">
                <span class="mdc-list-item__text">100</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mdc-data-table__pagination-navigation">
        <div class="mdc-data-table__pagination-total">
          1‑10 of 100
        </div>
        <button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-first-page="true" disabled>
          <div class="mdc-button__icon">first_page</div>
        </button>
        <button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-prev-page="true" disabled>
          <div class="mdc-button__icon">chevron_left</div>
        </button>
        <button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-next-page="true">
          <div class="mdc-button__icon">chevron_right</div>
        </button>
        <button class="mdc-icon-button material-icons mdc-data-table__pagination-button" data-last-page="true">
          <div class="mdc-button__icon">last_page</div>
        </button>
      </div>
    </div>
  </div>
</div>




<div class="track-header">CNV Tracks</div>
<div class="track-row col-titles">
    <div class="toggle-col"><b>Use Track</b></div>
    <div class="label-col"><b>Track Label</b></div>
    <div class="build-col"><b>Build</b></div>
    <div class="color-col"><b>Color</b></div>
    <div class="details-col"><b>Details</b></div>
    <div class=""></div>
</div>
<div class="tracks" id="CNV">
    <div class="track-row">
        <div class="toggle-col"><input type="checkbox" class='default' id='cnv-toggle' data-toggle="toggle" data-on="Yes" data-off="No"></div>
        <div class="label-col">DGV CNVs</div>
        <div class="build-col">hg19 / GRCh37</div>
        <div class="color-col"></div>
        <div class="details-col">The default set of CNVs uses data from DGV (Database of Genomic Variants). The CNVs
            include those in the "DGV Gold Standard Variants", a curated list of variants from select studies, with some
            variants merged if they had sufficient overlap.</div>
        <div class=""></div>
    </div>
</div>

<div class="track-header">Enhancer Tracks</div>
<div class="track-row col-titles">
    <div class="toggle-col"><b>Use Track</b></div>
    <div class="label-col"><b>Track Label</b></div>
    <div class="build-col"><b>Build</b></div>
    <div class="color-col"><b>Color</b></div>
    <div class="details-col"><b>Details</b></div>
    <div class=""></div>
</div>
<div class="tracks" id="Enhancer">
    <div class="track-row">
        <div class="toggle-col"><input type="checkbox" class='default' id='enhancer-toggle' data-toggle="toggle" data-on="Yes" data-off="No"></div>
        <div class="label-col">Default Enhancers</div>
        <div class="build-col">hg19 / GRCh37</div>
        <div class="color-col"></div>
        <div class="details-col">The default set of enhancers is based on data from the VISTA Enhancer Browser. We include
            only human enhancers that were positive for in vivo enhancer activity as defined by VISTA. Please see
            the about section for reference and details.</div>
        <div class=""></div>
    </div>
</div>

{% endblock %}