main {
    display: block;
}

.mdc-card {
    max-width: 900px;
    padding: 0px;
    margin: 0 auto;
}

main .mdc-card:not(:last-child) {
    margin-bottom: 16px;
}

.card-text {
    padding: 16px;
    line-height: 26px;
}