main {
    display: flex;
    flex-direction: column;
}

td {padding-right: 0.5em;}

#input-cards-div {margin-bottom: 16px;}

#multiple-input-card {
    flex: 1;
    margin-right: 16px;
}

#inputs-div {
    display: flex;
    flex-direction: row;
}

#text-area-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#data-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

#results-card {
    padding: 0px;
    flex: 1;
}

#accordion2 {margin-top: 1em;}

#width-div {width: 85%; margin: auto;}
#case-toggle-div {    
    color: black;
    cursor: pointer;
    display: inline-block;
}
#multiple_regions_text {opacity: 0.5;}

.multiple-input-row {
    display: grid;
    grid-template-columns: 10em 15em 15em 5em;
    grid-column-gap: 1em;
}

#info-div {display: inline-block; margin-bottom: 1em;}
#info-div {}
#multiple_cases_info, #multiple_regions_info {position: absolute;}

.multiple-input-row input, .multiple-input-row button {width: 100%;}
#id_multiple, #multiple-textarea {width: 42em;}
#outline-div {border: thin solid black; padding: 0.5em; border-radius: 2px;}
.input-inline {display: inline-block;}

#cases_and_regions_div {margin-bottom: 1em;}
#multiple_regions_div {display: none;}
#regions-coordinates-div, #regions-phenotypes-input {width: 15em;}
#regions-coordinates-div > input, #regions-phenotypes-input > input {width: 100%;}

#results-options-div {background-color: #CCCCCC; margin-left: -0.3em; margin-top: -0.3em; margin-right: -0.3em;
padding: 0.3em;}

#results_panel_heading {
    position: relative;
    display: flex;
    align-items: center;
}
#results-options-div > button {font-size: 0.75em; }
#results-options-div > button.show {background-color: green; color: white;}
#save_as_text_button {right: 0.3em; position: absolute;}
#save_as_text_button > img {height: 1.5em; cursor: pointer;}

#table-div {overflow-x: scroll;}
#table-div > table {width: 150%;}