@use "node_modules/@material/button";
@use "node_modules/@material/ripple";
@use "node_modules/@material/card";

@use "node_modules/@material/list/mdc-list";
@use "node_modules/@material/menu-surface/mdc-menu-surface";
@use "node_modules/@material/menu/mdc-menu";
@use "node_modules/@material/list";
@use "node_modules/@material/floating-label/mdc-floating-label";
@use "node_modules/@material/line-ripple/mdc-line-ripple";
@use "node_modules/@material/notched-outline/mdc-notched-outline";
@use "node_modules/@material/textfield";
@use "node_modules/@material/select";


@include button.core-styles;
@include card.core-styles;
@include list.core-styles;
@include textfield.core-styles;


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
$mdc-typography-font-family: unquote("Roboto, sans-serif");
* {
  font-family: unquote("Roboto, sans-serif");
}

.mdc-top-app-bar {
  background-color: white;
  color: var(--dark-grey);
  top: 0;
  left: 0;
}

body, main {
  background: #EEF1F3;
}

.mdc-top-app-bar--fixed-adjust {
  margin-top: 64px;
  padding-top: 0px;
}

button.nav-button {
  height: 100%;
  color: var(--dark-grey);
  @include button.ink-color(var(--dark-grey));
  @include ripple.states-base-color(red);
}

.nav-button:before,
.nav-button:after {
  background-color: red; /* RGBA of #2D5DCC */
}

button {
  height: 32px;
  @include button.ink-color(var(--dark-grey));
  @include ripple.states-base-color(red);
}