{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/single.css' %}">
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dist/single.js' %}" type="module"></script>
    <script src="{% static 'js/single.js' %}" type="module"></script>
{% endblock %}


{% block content %}
    <head>
        <title>ClinTAD | Single</title>
    </head>

    <body>
{#    {% if show_feedback %}#}
{#        <div class="card-w-title mdc-card" id="accordion-feedback">#}
{#            <div class="card-top-div">#}
{#                <div class="card-title">Website Feedback</div>#}
{#            </div>#}
{##}
{#            <div class="card-text">#}
{#                We are looking for feedback on ClinTAD. Please contact us by email at ClinicalTAD@gmail.com and mention:<br>#}
{#                <span class="feedback-item">1) Feedback on website design</span><br>#}
{#                <span class="feedback-item">2) Feedback on website features / functionality</span><br>#}
{#                <span class="feedback-item">3) Can we contact you to discuss the feedback</span>#}
{#                <br><br>#}
{#                <button id="hide-feedback-button" type="button" class="mdc-button mdc-button--touch mdc-button--raised">#}
{#                    Hide This Message#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

    <div id="input-cards-div">
        <div id="input-card" class="mdc-card card-w-title">
            <div class="card-top-div">
                <div class="card-title">Patient Data</div>
            </div>

            <div class="card-text">
                {% include 'coordinates_hpo_input.html' %}
            </div>
        </div>
        <div id="hpo-card" class="mdc-card card-w-title">
            <div class="card-top-div">
                <div class="card-title">HPO Phenotype Lookup</div>
            </div>
            <div class="card-text">
                {% include 'hpo_lookup_input.html' %}
            </div>
        </div>
    </div>

    <div id="svg-card" class="mdc-card">
        <div id="svg-card-top-div" class="card-top-div">
            <div id="svg-info-div">
                <div id="svg-coordinates-info"></div>
            </div>
            <div id="svg-buttons" class="card-buttons">
                <button id="zoom-in-button" class="mdc-button">
                    <span class="mdc-button__ripple"></span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">zoom_in</i>
                    <span class="mdc-button__label">Zoom In</span>
                </button>
                <button id="zoom-out-button" class="mdc-button">
                    <span class="mdc-button__ripple"></span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">zoom_out</i>
                    <span class="mdc-button__label">Zoom Out</span>
                </button>
                <button id="track-labels-button" class="mdc-button">
                    <span class="mdc-button__ripple"></span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">label</i>
                    <span class="mdc-button__label">Track Labels</span>
                </button>
                <button id="statistics-button" class="mdc-button">
                    <span class="mdc-button__ripple"></span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">stacked_bar_chart</i>
                    <span class="mdc-button__label">Statistics</span>
                </button>
            </div>
            <div id="loading-div">
                <img class="loading-gif hidden" src="{% static 'img/loading.gif' %}">
            </div>
        </div>
        <div id="container"></div>
    </div>

    <div id="selected-data-card" class="mdc-card card-w-title">
        <div class="card-top-div">
            <div class="card-title">Selected Data</div>
        </div>
        <div class="card-text" id="patient-data-display"></div>
    </div>

    </body>
    <script>
        let coordinates = "{{coordinates|safe}}";
        let phenotypes = "{{phenotypes|safe}}"
    </script>
{% endblock %}