{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/single.css' %}">
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dist/single.js' %}" type="module"></script>
    <script src="{% static 'js/single.js' %}" type="module"></script>
{% endblock %}


{% block content %}
<head>
    <title>ClinTAD | Single</title>
</head>

<body>
  {% if show_feedback %}
  <div class="panel panel-custom" id="accordion-feedback">
    <div class="panel-heading">
      <span class="panel-title">
        <a data-toggle="collapse" href="#collapse-feedback" data-parent="#accordion-feedback">Website Feedback</a>
      </span>
    </div>
      
    <div id="collapse-feedback" class="panel-collapse collapse show">
      <div class="panel-body">
        We are looking for feedback on ClinTAD. Please contact us by email at ClinicalTAD@gmail.com and mention:<br>
          <span class="feedback-item">1) Feedback on website design</span><br>
          <span class="feedback-item">2) Feedback on website features / functionality</span><br>
          <span class="feedback-item">3) Can we contact you to discuss the feedback</span>
          <br><br>
          <button id="hide-feedback-button" class="feedback-item">Hide This Message</button>
      </div>
    </div>
  </div>
  {% endif %}
    
  <div id="input-cards-div">
      <div id="input-card" class="mdc-card">
          <div class="card-heading">Patient Data (Single)</div>
          
          {% include 'coordinates_hpo_input.html' %}
      </div>
      <div id="hpo-card" class="mdc-card">
          <div class="card-heading">HPO Phenotype Lookup</div>
          {% include 'hpo_lookup_input.html' %}
      </div>
  </div>
  
<div id="svg-card" class="mdc-card">
    <div id="svg-card-top-div" class="card-top-div">
        <div id="svg-info-div">
            <div id="svg-coordinates-info"></div>
        </div>
        <div id="svg-buttons" class="card-buttons">
            <button id="zoom-in-button" class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">zoom_in</i>
                <span class="mdc-button__label">Zoom In</span>
            </button>
            <button id="zoom-out-button" class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">zoom_out</i>
                <span class="mdc-button__label">Zoom Out</span>
            </button>
            <button id="track-labels-button" class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">label</i>
                <span class="mdc-button__label">Track Labels</span>
            </button>
            <button id="statistics-button" class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">stacked_bar_chart</i>
                <span class="mdc-button__label">Statistics</span>
            </button>
        </div>
        <div id="loading-div">
            <img class="loading-gif hidden" src="{% static 'img/loading.gif' %}">
        </div>
    </div>
    <div id="container"></div>
</div>

<div id="selected-data-card" class="mdc-card">
    <div class="card-heading">Selected Data</div>
    <div class="panel-body" id="patient-data-display"></div>
</div>

</body>
<script>
    let coordinates = "{{coordinates|safe}}";
    let phenotypes = "{{phenotypes|safe}}"
</script>
{% endblock %}