{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/single.css' %}">
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dist/single.js' %}" type="module"></script>
    <script src="{% static 'js/single.js' %}" type="module"></script>
{% endblock %}


{% block content %}
    <head>
        <title>ClinTAD | Single</title>
    </head>

    <body>

    <div id="input-cards-div">
        <div id="input-card" class="mdc-card card-w-title">
            <div class="card-top-div">
                <div class="card-title">Patient Data</div>
                <div>
                    <i id='input-icon' class="material-icons card-top-icon-r">change_history</i>
                </div>
            </div>

            <div class="card-text">
                {% include 'coordinates_hpo_input.html' %}
            </div>
        </div>
        <div id="hpo-card" class="mdc-card card-w-title">
            <div class="card-top-div">
                <div class="card-title">HPO Phenotype Lookup</div>
            </div>
            <div class="card-text">
                {% include 'hpo_lookup_input.html' %}
            </div>
        </div>
    </div>

    <div id="svg-card" class="mdc-card">
        <div id="svg-card-top-div" class="card-top-div">
            <div id="svg-info-div">
                <div id="svg-build-info"></div>
                <div id="svg-coordinates-info"></div>
            </div>
            <div id="svg-buttons" class="card-buttons">
                <button id="zoom-in-button" class="mdc-button">
                    <span class="mdc-button__ripple"></span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">zoom_in</i>
                    <span class="mdc-button__label">Zoom In</span>
                </button>
                <button id="zoom-out-button" class="mdc-button">
                    <span class="mdc-button__ripple"></span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">zoom_out</i>
                    <span class="mdc-button__label">Zoom Out</span>
                </button>
                <button id="track-labels-button" class="mdc-button">
                    <span class="mdc-button__ripple"></span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">label</i>
                    <span class="mdc-button__label">Track Labels</span>
                </button>
                <button id="statistics-button" class="mdc-button">
                    <span class="mdc-button__ripple"></span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">stacked_bar_chart</i>
                    <span class="mdc-button__label">Statistics</span>
                </button>
            </div>
            <div id="loading-div">
                <img class="loading-gif hidden" src="{% static 'img/loading.gif' %}">
            </div>
        </div>
        <div id="container"></div>
    </div>

    <div id="selected-data-card" class="mdc-card card-w-title">
        <div class="card-top-div">
            <div class="card-title">Selected Data</div>
        </div>
        <div class="card-text" id="patient-data-display"></div>
    </div>

    </body>
    <script>
        let build = "{{build|safe}}"
        let coordinates = "{{coordinates|safe}}";
        let phenotypes = "{{phenotypes|safe}}"
    </script>
{% endblock %}