{% extends 'base.html' %}

{% load static %}

{% block head %}
    {{ block.super }}
    <title>ClinTAD | Statistics</title>
    <script src="{% static 'js/statistics.js' %}"></script>
{% endblock %}

{% block content %}
<div id="form-div" style="margin-top: 15px;">
    {{form}}
    <input type="button" onclick="draw_statistics()" value="Statistics">
</div>

<div class='svg-div' style="margin-top: 20px;">
    <svg id='gene-matches' width="100%" data-label="Gene Matches" data-ticks="10" height="315"></svg>
    <svg id='hpo-matches' width="100%" data-label="HPO Matches" data-ticks="15" height="315"></svg>
    <svg id='weighted-scores' width="100%" data-label="Weighted Scores" data-ticks="20" height="320"></svg>
</div>

<script>window.onload = draw_statistics();</script>
{% endblock content %}

