{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/submit_case.css' %}">
{% endblock styles %}


{% block content %}
    <div class="mdc-card card-w-title">
        <div class="card-top-div">
            <div class="card-title">Case Submitted</div>
        </div>
        <div class="card-text">
            Your case has been submitted. It will be listed with a pending status until it is reviewed.
        </div>
    </div>
{% endblock %}