{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/submit_case.css' %}">
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dist/submit_case.js' %}" type="module"></script>
{% endblock %}


{% block content %}

    <div class="mdc-card card-w-title">
        <div class="card-top-div">
            <div class="card-title">Submit Case</div>
        </div>
{% if request.user.is_authenticated %}

        <div class="card-text" style="padding-bottom: 0;">
            Please use this form to submit cases where TAD disruption may be of clinical relevance. These cases can
            either be from publicly available peer-reviewed publications or your own clinical cases of interest.
            <ul>
                <li>If submitting a case from a publication, please include the PubMed ID.</li>
                <li> If submitting a clinical case, please include information about genetic testing has been performed.</li>
                <li><span class="text-warning">Do not submit protected health information.</span></li>
            </ul>
        </div>

        <div class="card-text">

            <div id="build-coordinates-div">
                <div class="mdc-select mdc-select--outlined" id="build-select">
                    <div class="mdc-select__anchor" aria-labelledby="build-select-label" aria-required="true">
                    <span class="mdc-notched-outline">
                      <span class="mdc-notched-outline__leading"></span>
                      <span class="mdc-notched-outline__notch">
                        <span id="build-select-label" class="mdc-floating-label">Build</span>
                      </span>
                      <span class="mdc-notched-outline__trailing"></span>
                    </span>
                        <span class="mdc-select__selected-text-container">
                      <span id="hpo-selected-text" class="mdc-select__selected-text"></span>
                    </span>
                        <span class="mdc-select__dropdown-icon">
                      <svg
                              class="mdc-select__dropdown-icon-graphic"
                              viewBox="7 10 10 5" focusable="false">
                        <polygon
                                class="mdc-select__dropdown-icon-inactive"
                                stroke="none"
                                fill-rule="evenodd"
                                points="7 10 12 15 17 10">
                        </polygon>
                        <polygon
                                class="mdc-select__dropdown-icon-active"
                                stroke="none"
                                fill-rule="evenodd"
                                points="7 15 12 10 17 15">
                        </polygon>
                      </svg>
                    </span>
                    </div>

                    <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                        <ul class="mdc-list" id="build-hpo-ul" role="listbox">
                          <li class="mdc-list-item" aria-selected="false" data-value="NCBI36" role="option">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">
                              hg18 / NCBI36
                            </span>
                          </li>
                          <li class="mdc-list-item" aria-selected="false" data-value="GRCh37" role="option">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">
                              hg19 / GRCh37
                            </span>
                          </li>
                          <li class="mdc-list-item" aria-selected="false" data-value="GRCh38" role="option">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">
                              hg38 / GRCh38
                            </span>
                          </li>
                        </ul>
                    </div>
                </div>

                <label id="coordinates-field" class="mdc-text-field mdc-text-field--outlined">
                    <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" id="lookup-label">Coordinates</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                    </span>
                        <input id="coordinates-input" type="text" class="mdc-text-field__input"
                               aria-labelledby="lookup-helper" aria-controls="lookup-helper"
                               aria-describedby="coordinates-helper">
                </label>
            </div>

            <label id="pubmed-field" class="mdc-text-field mdc-text-field--outlined">
            <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
                <span class="mdc-floating-label" id="pubmed-label">PubMed IDs</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
            </span>
                <input id="pubmed-input" type="text" class="mdc-text-field__input">
            </label>

            {% include 'hpo_lookup_input.html' %}

            <label id="phenotypes-field" class="mdc-text-field mdc-text-field--outlined">
                <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="lookup-label">HPO Phenotypes</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
                </span>
                    <input id="phenotypes-input" type="text" class="mdc-text-field__input" aria-labelledby="lookup-helper"
                           aria-controls="lookup-helper"
                           aria-describedby="coordinates-helper">
            </label>

            <label id="comments-field"
                   class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea mdc-text-field">
                <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="comments-label">Comments</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
                </span>
                <span class="mdc-text-field__resizer">
                    <textarea class="mdc-text-field__input" aria-labelledby="comments-label" width="100%"></textarea>
                </span>
            </label>

            <button id="submit-data-button" class="mdc-button mdc-button--touch mdc-button--raised" type="button">
                <div class="mdc-button__ripple"></div>
                <div class="mdc-button__label">Submit</div>
                <div class="mdc-button__touch"></div>
            </button>
        </div>
{% else %}
    <div class="card-text">
        Please login to submit a case.
    </div>
{% endif %}
{% endblock %}